<div class="mx-auto" style="max-width: 540px;">
  <div class="card w-75 mx-auto">
    <div class="card-body">
      <%= render "form" %>
    </div>
    <div class="card-footer">
      Upravit uživatelský účet?
      <%= link_to t(:button_here), edit_user_registration_path %>
    </div>
  </div>
</div>