$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

body > .container {
  padding-top: 80px;
}

@media print {
  body > .container {
    padding-top: 0 !important;
  }
}

footer.footer {
  height: 40px;
  line-height: 40px;
  bottom: 0;
  width: 100%;
}

.required label, label[required], label.required, .has-error {
  color: red !important;
}

.required label:after, label[required]:after, label.required:after {
  content: '* '
}